.item__wrapper {
	padding: 20px;
	// border: 1px solid lightgray;
	transition-duration: 0.3s;

	& a {
		color: black;

		&:hover {
			color: black;
			text-decoration: none;
		}
	}

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
	}
}

.item {
	text-align: center;
	padding: 20px 0;
}

.item img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	// border: 1px solid lightgray;
	// border-radius: 50%;
}
