main {
	flex: 1;

	& .row {
		height: 100%;
	}

	& .container {
		height: 100%;
	}

	& aside {
		text-align: center;
		background-color: gainsboro;
		position: fixed;
		& ul {
			padding-top: 15px;
		}
	}
}
