nav .container {
	position: relative;
	background-color: rgb(255, 252, 217);
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav .container input {
	width: 80%;
	height: 40px;
	text-align: center;
	font-size: 18px;
}
